html {
  background-color: #1a1a1a;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
}
.navHeader {
  padding-left: 2px;
  position: fixed;
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.home {
  margin-bottom: 15px;
  margin-top: 5px;
  /* border: solid 2px yellow; */
  display: inline-block;
  text-decoration: none;
  color: white;
}
.home:hover {
  padding: 3px 6px 3px 6px;
  background-color: yellow;
  border-radius: 7px;
  color: black;
  cursor: pointer;
}
.nav-link {
  position: fixed;
  display: block;
  color: white;
  margin-bottom: 0px;
  margin-top: 17px;
  padding-left: 2px;
}

#navbar,
#navHeader {
  min-width: 15%;
  max-width: 45%;
  height: 300px;
  width: 100px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2px;
  padding-top: 2px;
  /* border: solid 2px yellow; */
}

#main-doc {
  border: solid gray 3px;
  min-width: 40%;
  max-width: 75%;
  /* margin: 0 18%; */
  padding: 10px 20px 0 20px;
}
@media (min-width: 50%) and (max-width: 70%) {
}

li,
ul {
  padding-left: 0px;
  margin-left: 15px;
}

#codeP {
  font-size: 16px;
}
code {
  background-color: black;
  font-weight: 400;
}

#divider {
  border: solid gray 2px;
  padding: 0;
  margin: 0;
}
